body {
  margin: 0;
  background-image: url("img/background.png");
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
  text-align: -webkit-center;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1920px;
}

h1 {
  text-align: center;
  margin-block-end: 0;
  font-family: "Pokemon Solid", sans-serif;
  font-size: 36px;
  color: #e4404f;
  text-shadow: 2px 2px 4px #000000;
}
h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

.display-flex {
  display: flex;
  justify-content: center;
}

#pokedek {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#blackscreen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.pokemon {
  color: white;
  width: 270px;
  height: 180px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  cursor: pointer;
  background-image: url(img/abc.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.pokemon-img {
  height: 86px;
}

.pkm-card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  gap: 12px;
}
.pkm-types {
  background-color: rgb(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  width: 56px;
  border-radius: 8px;
  padding: 3px;
}

.id {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: white; /* Du kannst die Farbe entsprechend anpassen */
  background-color: rgba(0, 0, 0, 0.2); /* Hintergrundfarbe für die ID */
  padding: 3px 7px; /* Platz um die ID */
  border-radius: 5px; /* Runde Ecken für die ID-Box */
}

.load-more-btn {
  background-color: #f4c542;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-bottom: 16px;
}

.load-more-btn:hover {
  background-color: #f2b807;
}

#search-field {
  margin-top: 12px;
  padding: 10px;
  border: 2px solid #e4404f;
  border-radius: 5px;
  font-size: 16px;
  width: 200px;
  transition: border-color 0.3s ease;
}

#search-field:focus {
  border-color: #ff0000;
  outline: none;
}

#search-btn {
  margin-top: 12px;
  padding: 10px;
  border: 2px solid #e4404f;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

#pokecard {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 400px;
  background-color: white;
  border-radius: 20px;
}

.pokemon-card {
  height: 45%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  cursor: pointer;
  background-image: url(img/abc.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.pokemoncard-img {
  height: 148px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.kreuz-img {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 24px;
}
.card-details {
  background-color: white;
  height: 55%;
  width: 100%;
  border-radius: 23px;
  margin-top: -20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.menu-category {
  padding: 10px;
  padding-top: 32px;
  width: 100%;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-around;
}

#category-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  
}
.move {
  border-radius: 8px;
  padding: 3px;
}

h3{
 
}
.evolution-img{
  height: 96px;
}
#evolutionDiv{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headline-evolution{
 padding-top: 12px;
 color: red;
 font-size: 32px;
 

}